<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="TimeWSSoap" />
        <binding name="SysSecurityWSSoap" />
        <binding name="ResourceWSSoap" />
        <binding name="PSAClientHelperWSSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://epicor/e4se/Time.asmx" binding="basicHttpBinding"
                bindingConfiguration="TimeWSSoap" contract="TimeService.TimeWSSoap"
                name="TimeWSSoap" />
      <endpoint address="http://epicor/e4se/SysSecurity.asmx" binding="basicHttpBinding"
                bindingConfiguration="SysSecurityWSSoap" contract="SystemSecurityService.SysSecurityWSSoap"
                name="SysSecurityWSSoap" />
      <endpoint address="http://epicor/e4se/Resource.asmx" binding="basicHttpBinding"
                bindingConfiguration="ResourceWSSoap" contract="ResourceService.ResourceWSSoap"
                name="ResourceWSSoap" />
      <endpoint address="http://epicor/e4se/PSAClientHelper.asmx" binding="basicHttpBinding"
                bindingConfiguration="PSAClientHelperWSSoap" contract="HelperService.PSAClientHelperWSSoap"
                name="PSAClientHelperWSSoap" />
    </client>
  </system.serviceModel>
</configuration>