<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Ui.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <Ui.Properties.Settings>
      <setting name="LastUpdateCodesDate" serializeAs="String">
        <value />
      </setting>
      <setting name="CurrentCodes" serializeAs="String">
        <value />
      </setting>
      <setting name="ResourceID" serializeAs="String">
        <value />
      </setting>
    </Ui.Properties.Settings>
  </userSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="TimeWSSoap">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm" proxyCredentialType="None"
                       realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="SysSecurityWSSoap" />
        <binding name="ResourceWSSoap" />
        <binding name="PSAClientHelperWSSoap" maxReceivedMessageSize="500000000">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm" proxyCredentialType="None"
                       realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://epicor/e4se/Time.asmx" binding="basicHttpBinding"
                bindingConfiguration="TimeWSSoap" contract="TimeService.TimeWSSoap"
                name="TimeWSSoap" />
      <endpoint address="http://epicor/e4se/SysSecurity.asmx" binding="basicHttpBinding"
                bindingConfiguration="SysSecurityWSSoap" contract="SystemSecurityService.SysSecurityWSSoap"
                name="SysSecurityWSSoap" />
      <endpoint address="http://epicor/e4se/Resource.asmx" binding="basicHttpBinding"
                bindingConfiguration="ResourceWSSoap" contract="ResourceService.ResourceWSSoap"
                name="ResourceWSSoap" />
      <endpoint address="http://epicor/e4se/PSAClientHelper.asmx" binding="basicHttpBinding"
                bindingConfiguration="PSAClientHelperWSSoap" contract="HelperService.PSAClientHelperWSSoap"
                name="PSAClientHelperWSSoap" />
    </client>
  </system.serviceModel>
</configuration>